{% extends 'myprofile/base.html' %}

{% block content %}
    <div class="title">
        <h1>Auto Portfolio with U.S Individual stocks</h1>
        <h2><i>Making investing easy</i></h2>
    </div>
    
    <div class="about_business">
        <ul>
            <h2><li>どういったものなのか</li></h2>
        </ul>

        <ol>
            <li>米国株のデータ(時価総額やセクター、ROEなどの経営指標)を集める</li>
            <li>投資先を選ぶ<br>ex) PERが1以下、ROEが0.1以上など</li>
            <li>リスク許容度(Beta)、予算を決める</li>
            <li>自動でポートフォリオ作成</li>
        </ol>

        <ul>
            <h2><li>一番大事にしたいこと</li></h2>
        </ul>
        <div class="important">
            <ol>
                <li>オープンソース</li>
                <li>ファイナンシャルリテラシーの向上(社会貢献)</li>
            </ol>
        </div>
    </div>
{% endblock %}